In [2]:
# Import Python libraries
import pandas as pd
import requests

In [3]:
# Read the data
data_request = pd.read_csv("data/transaction_enricher_example_dataset.csv", sep=";")

In [4]:
# Optional: change columns names.
data_request.columns = ["transaction_id", "date", "desc", "amt"]

In [5]:
data_request

,transaction_id,date,desc,amt
0,id_1,2024-09-12 00:00:00.0,"COMPRA aliexpress, Luxembourg, TARJETA 1234567...",-10.75
1,id_2,2024-09-20 00:00:00.0,"PAGO MOVIL EN MERCADONA, MADRID, TARJ. :*123456",-30.63
2,id_3,2024-10-02 00:00:00.0,"PAGO MOVIL EN METRO DE MADRID, MADRID, TARJ. :...",-2.40

In [6]:
# Change columns types
data_request["transaction_id"] = data_request["transaction_id"].astype(str) # Optional: convert "transaction_id" column to string/object type
data_request["amt"] = data_request["amt"].astype(str) # Optional: convert "amt" column to string/object type

In [7]:
# Convert to JSON from Pandas dataframe
data_json = data_request.to_json(orient='records')

In [8]:
data_json

'[{"transaction_id":"id_1","date":"2024-09-12 00:00:00.0","desc":"COMPRA aliexpress, Luxembourg, TARJETA 1234567812345678 , COMISION 0,00","amt":"-10.75"},{"transaction_id":"id_2","date":"2024-09-20 00:00:00.0","desc":"PAGO MOVIL EN MERCADONA, MADRID, TARJ. :*123456","amt":"-30.63"},{"transaction_id":"id_3","date":"2024-10-02 00:00:00.0","desc":"PAGO MOVIL EN METRO DE MADRID, MADRID, TARJ. :*123456","amt":"-2.4"}]'

### Enricher Endpoint

In [9]:
# Define the Payload and save the request in a response object
payload = {"region": "SPAIN", "token": "YOUR_TOKEN"} ## Update with the token from API tab at Dedomena AI's platform.
response = requests.post(url="https://api.enricher.dedomena.ai/v5/enricher", params=payload, data=data_json)
print(response)

<Response [200]>

In [10]:
response.text

'[{"transaction_id":"id_1","pred_category":"105","pred_category_name":"eCommerce","pred_prob":1.0,"pred_category_parent":"101","pred_category_parent_name":"Purchases"},{"transaction_id":"id_2","pred_category":"3","pred_category_name":"Supermarket and Groceries","pred_prob":1.0,"pred_category_parent":"1","pred_category_parent_name":"Food, Dining"},{"transaction_id":"id_3","pred_category":"26","pred_category_name":"Public transportation","pred_prob":0.9876,"pred_category_parent":"21","pred_category_parent_name":"Transportation"}]'

In [11]:
# Transform to Pandas dataframe the request response
enrichement = pd.DataFrame(response.json(), columns=["transaction_id","pred_category","pred_category_name", "pred_prob","pred_category_parent","pred_category_parent_name"])

In [12]:
# Check the results
enrichement

,transaction_id,pred_category,pred_category_name,pred_prob,pred_category_parent,pred_category_parent_name
0,id_1,105,eCommerce,1.0000,101,Purchases
1,id_2,3,Supermarket and Groceries,1.0000,1,"Food, Dining"
2,id_3,26,Public transportation,0.9876,21,Transportation

### Merchant Endpoint

In [ ]:
payload = {"region": "SPAIN", "token": "YOUR_TOKEN"} ## Update with the token from API tab at Dedomena AI's platform.
response2 = requests.post(url="https://api.enricher.dedomena.ai/v2/merchant", params=payload, data=data_json)
print(response)

In [ ]:
response2.text

In [ ]:
# Transform to Pandas dataframe the request response
merchant = pd.DataFrame(response2.json(), columns=["transaction_id","merchant"])

In [ ]:
# Check the results
merchant